.header {
    border-bottom: 1px solid $color-border;

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        @include for-phone-only {
            margin-right: 10px;
        }
    }

    &__menu {

        @include for-tablet-down {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transform: translateY(-100%);
            width: 100%;
            box-sizing: border-box;
            background-color: white;
            padding: 48px 0 48px 40px;
            transition: transform $transition-ms $transition-cubic;

            &.is-open {
                transform: translateY(0);
            }
        }

        @include for-tablet-up {
            display: flex;
            align-items: center;
        }
    }

    &__social {

        @include for-phone-only {
            display: flex;
            // flex-direction: column;
            // justify-content: center;
            flex-wrap: wrap;
            max-width: 186px;
        }

        @include for-tablet-up {
            display: none;
        }
    }

    &__social-item {
        @include for-phone-up {
            display: inline;
            &:not(:last-child) {
                padding-right: 10px;
                border-right: 1px solid rgba(33, 33, 33, 0.2);
            }
    
            &:not(:first-child) {
                padding-left: 10px;
            }
        }

        @include for-phone-only {
            &:nth-child(2n+1) {
                width: 95px;
                border-right: 1px solid rgba(33, 33, 33, 0.2);
            }

            &:nth-child(2n) {
                padding-left: 10px;
            }

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 10px;
            }
        }
    }

    &__social-link {
        display: inline-block;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $color-brand;
    }

    &__button {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 10px 0 10px auto;
        background-color: transparent;
        border: none;
        fill: $color-text-primary;

        @include for-tablet-up {
            display: none;
        }
    }

    &__icons {
        position: absolute;
        top: 0;
        // @extend %position-center;
        z-index: 3;
        outline: 1px solid;

        &:hover {
            
            .header__icon.middle {
                x: 0;
                opacity: 0;
            }

            // .header__icon.top {
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%) rotate(45deg);
            //     // transform-origin: center;
            //     // x: 15px;
            //     // y: 1px;
            // }
    
            .header__icon.bottom {
                transform: translate(-14px, -11px) rotate(-45deg);
                transform-origin: center;
                // x: -14px;
                // y: -11px;
            }
        }
    }

    &__icon {
        display: block;
        transition: all $transition-ms $transition-cubic;

        &.top {
            display: block;
            // transform: translate(-50%, -50%) rotate(45deg);
            // transform-origin: center;
            // x: 15px;
            // y: 1px;
        }
    }

    &__address {
        @include for-tablet-down {
            display: inline-flex;
            flex-direction: column-reverse;
            gap: 32px;
            margin-bottom: 64px;
            font-size: 24px;
        }

        @include for-tablet-up {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            padding: 21px 0;
            font-size: 12px;
        }

        @include for-desktop-up {
            flex-direction: row;
            gap: 30px;
            padding: 0;
            font-size: 14px;
        }

        &-link {
            @include for-tablet-down {
                .address__item:last-child & {
                    font-size: 34px;
                    color: $color-brand;
                }
            }
            
            @include for-phone-only {
                .address__item:last-child & {
                    font-size: 28px;
                }
            }
        
            @include for-tablet-up {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
            @include for-desktop-up {
                padding: 32px 0;
            }
        }

        &-icon {
            margin-right: 10px;
            
            @include for-tablet-down {
                display: none;
            }
        }
    }
}

.nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include for-tablet-down {
        margin-bottom: 302px;
    }

    @include for-tablet-up {
        display: block;
        margin-left: 88px;
        font-size: 14px;
        margin-right: 96px;
    }
    
    &__list {
        display: flex; 
        gap: 32px;
        
        @include for-tablet-down {
            flex-direction: column;
        }

        @include for-tablet-up {
            display: flex;
            gap: 51px;
        }
    }


    &__link {
        color: $color-text-primary;
        position: relative;
        text-decoration: none;
        transition: color $transition-ms $transition-cubic;

        &:hover, 
        &:focus {
            color: $color-brand;
        }

        @include for-tablet-up {
            padding: 34px 0;
        }
    }
}
