.portfolio-section {
    padding: 94px 0;
    
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
    }
    
    &__button {
        padding: 6px 26px;
        transition: background-color $transition-ms $transition-cubic,
            color $transition-ms $transition-cubic,
            box-shadow $transition-ms $transition-cubic;
    }
    
    &__button:hover,
    &__button:focus {
        background-color: $color-brand;
        color: $color-background-primary;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    
    &__cards {
        display: flex;
        flex-wrap: wrap;
    }
}




