body {
    display: block;
    height: auto;
    margin: 0;
    background-color: $color-background-primary;
    color: $color-text-primary;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    &.modal-open {
        overflow: hidden;
    }
}

.section-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.16;
    @include for-desktop-up {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    @include for-phone-up {
        width: 480px;
    }

    @include for-tablet-up {
        width: 768px;
    }

    @include for-desktop-up {
        width: 1200px;
    }


}