// Color
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-brand: #2196F3;

$color-background-hero-footer: #2F303A;
$color-background-primary: #FFFFFF;
$color-background-command-button: #F5F4FA;

$color-border: #ECECEC;
$color-border-card: #EEEEEE;
$color-icon: #AFB1B8;
$color-icon-reverse: #FFFFFF;

// Transation

$transition-ms: 250ms;
$transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);

